# Packages
./**/node_modules/
./**/bin

# Log files
logs/
*.log
npm-debug.log*

.vscode/

Dockerfile
docker-compose.yml
.dockerignore

.env
.env.example

LICENSE

.github
.git
.gitattributes
.gitignore